.pill {
    border-radius: 5px;
    background: black;
    margin-left: 5px;
    width: 40px;
    height: 10px;
}

.cell {
    border-radius: 5px;
    border-style: solid;
    margin-left: 3px;
    width: 20px;
    height: 40px;
}

.location-outer {
    margin-top: 5px;
    margin-left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: black;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
}

.location-inner {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: darkgreen;
    width: 10px;
    height: 10px;
    transform: translate(75%, 75%);
}

.mail-outer {
    border-radius: 5px;
    border-style: solid;
    width: 40px;
    height: 20px;
    transform: rotate(-45deg) translate(13px, -39px);;
}

.mail-inner-1 {
    border-radius: 5px;
    border-right: solid;
    border-bottom: solid;
    width: 25px;
    height: 25px;
    background: darkgreen;
    transform: translate(-16px, -17px);
}

.mail-inner-2 {
    margin-top: 20px;
    margin-left: 28px;
    border-radius: 5px;
    border-left: solid;
    border-top: solid;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
}
