.cell {
    border-radius: 18%;
    border-style: solid;
    width: 1vw;
    height: 2vw;
    background: #14331a;
}

.location-outer {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 2.2vw;
    height: 2.2vw;
    transform: rotate(45deg);
    background: #14331a;
}

.location-inner {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #d8e0d7;
    width: 0.8vw;
    height: 0.8vw;
    transform: translate(75%, 75%);
}

.mail-outer {
    border-radius: 15%;
    border-style: solid;
    width: 2vw;
    height: 1.2vw;
    border-width: 1px;
    background: #14331a;
}

.mail-overlap {
    width: 0;
    height: 0;
    border-left: .9vw solid transparent;
    border-right: .9vw solid transparent;
    border-top: .9vw solid #14331a;
    transform: translate(0.2vw, -3.3vw);
    border-radius: 15%;
}

.mail-inner-1 {
    border-radius: 15%;
    border-right: solid;
    border-bottom: solid;
    width: 1.6vw;
    height: 1.6vw;
    border-color: #d8e0d7;
    transform: rotate(45deg) translate(-0.5vw, -0.8vw);
    border-width: 1px;
}

.mail-inner-2 {
    border-radius: 5px;
    border-left: solid;
    border-top: solid;
    width: 1.6vw;
    height: 1.6vw;
    transform: rotate(45deg) translate(-0.6vw, -0.8vw);
    border-width: 1px;
    border-color: #d8e0d7;
}
