.resume {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 100%;
    justify-content: space-between;
    height:100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.clump {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
}

.spread {
    justify-content: space-between;
}

.fill {
    flex: 1;
}

.description {
    transform: translate(0px,5px);
    text-align: center;
    border: none;
    width: 100%;
    padding: 0%;
}

.rating {
    display: flex;
    width: 40%;
    flex-direction: row;
    align-self: flex-end;
    justify-content: center;
}

.bar-filled {
    background: #191919;
    height: 5px;
}

.bar-empty {
    height: 3px;
    border: solid;
    border-width: 1px;
    flex: 1 1 auto;
}

.link-info {
    margin: auto;
    border: none;
    padding: 0%;
}

.sidebar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 110%;
}

.content {
    display: flex;
    flex-direction: column;
}

#card {
   background: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 1%;
   margin: 5px;
}
