.resume {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 100%;
    justify-content: space-between;
    height:100%;
}

#headshot {
    width: 90%;
    margin: 5%;
    border-radius: 5px;
    margin-bottom: 0%;
}

.clump {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-timeline {
    border-right: solid;
    border-width: 1px;
    width: 10px;
    height: 100%;
    align-self: stretch;
}

.timeline {
    margin: 1%;
    margin-right: 0%;
    border-right: solid;
    border-width: 1px;
    width: 10px;
    border-radius: 5px;
    align-self: stretch;
}

.entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 1%;
}

.rank {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: stretch;
}

#icon {
    width: 15%;
}

.sidebar {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #d8e0d7;
    color: #14331a;
    border-radius: 5px;
    margin: 1%;
    width: 22%;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 1%;
    margin-left: 0%;
}
