.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.spread {
    justify-content: space-between;
}

.fill {
    flex: 1;
}

.description {
    transform: translate(0px,3px);
    text-align: center;
    border: none;
    width: 100%;
    padding: 0%;
}

.icon {
    margin: 5px;
}

.spine {
    border-left: solid;
    border-width: 1px;
}

.underline {
    border-bottom: solid;
    border-width: 1px;
}

.bar-filled {
    background: #191919;
    height: 5px;
}

.bar-empty {
    height: 3px;
    border: solid;
    border-width: 1px;
    flex: 1 1 auto;
}

.link-info {
    margin: auto;
    border: none;
    padding: 0%;
}

#card {
   background: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 5px;
   margin: 5px;

}
