.resume {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 100%;
    justify-content: space-between;
}

.entry-decoration {
    flex: 1;
    margin-bottom: 0%;
    width: 10px;
    height: 10px;
}

.entry {
    display: flex;
    flex-direction: row;
    border-bottom: solid;
}

.sidebar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background: #d8e0d7;
    color: #14331a;
    flex: 1;
    border-radius: 5px;
    margin: 2%;
    outline-offset: -10px;
    border-left: solid;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.sub-content {
    display: flex;
    flex-direction: row;
}

.entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.name {
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
