html {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
    background-color: #dae0e6;
    color: #191919;
    margin: 8px;
    text-align: justify;
    font-size: 1.343749vh;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0%;
    border-bottom: solid;
    border-width: 1px;
    padding: 5px;
    font-size: 3.38vh;
}

h2 {
    margin: 0%;
    padding: 5px;
    border-bottom: solid;
    border-width: 1px;
}

h3 {
    margin-top: 0%;
    white-space: nowrap;
    border-bottom: solid;
    margin: 0%;
    padding: 5px;
    width: max-content;
    border-width: 1px;
}

h4 {
    border-width: 1px;
    display: inline-block;
    margin-bottom: 0%;
    margin-top: 0%;
    padding: 5px;
    padding-bottom: 0%;
}

p {
    flex: 1 0 auto;
    border-width: 1px;
    margin: 0%;
    margin-right: 1%;
    padding: 5px;
}
