html {
    font-size: 2em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

@media(min-width:1000px){html{font-size:1em}}

body {
    background-color: #dae0e6;
    color: #191919;
    margin: 10px;
    text-align: justify;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0%;
    border-bottom: solid;
    border-width: 1px;
    padding: 1%;
}

h2 {
    margin: 0%;
    padding: 1%;
    border-bottom: solid;
    border-width: 1px;
}

h3 {
    margin-top: 0%;
    white-space: nowrap;
    border-bottom: solid;
    margin: 0%;
    padding: 1%;
    width: max-content;
    border-width: 1px;
}

h4 {
    border-width: 1px;
    display: inline-block;
    margin-bottom: 0%;
    margin-top: 0%;
    padding: 1%;
    padding-bottom: 0%;
}

p {
    flex: 1 0 auto;
    border-width: 1px;
    margin: 0%;
    margin-right: 1%;
    padding: 1%;
}
