html {
    font-size: 0.8em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
    background-color: #14331a;
    color: #d8e0d7;
}

a {
    text-decoration: none;
    color: inherit;
    flex: 1 0 auto;
    width: 100%;
}

h1 {
    margin: 0%;
    padding: 1%;
    border-bottom: solid;
    border-width: 1px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #14331a;
    color: #d8e0d7;
}

h2 {
    margin: 0%;
    padding: 1%;
    border-bottom: solid;
    border-width: 1px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #d8e0d7;
    color: #14331a;
}

h3 {
    margin-top: 0%;
    white-space: nowrap;
    border-bottom: solid;
    margin-bottom: 0%;
    padding: 1%;
    width: max-content;
    border-width: 1px;
    border-bottom-left-radius: 5px;
}

h4 {
    display: inline-block;
    margin-bottom: 0%;
    margin-top: 0%;
    padding: 1%;
}

p {
    flex: 1 0 auto;
    align-self: flex-start;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 1%;
    padding: 1%;
}
